/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);*/
applet, object, iframe, body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, eal, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, caption, img, header, container {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.mb0{margin-bottom: 0;}
.mt20 {margin-top: 20px;}
.mt30{margin-top: 30px;}
.mt50 {margin-top: 50px;}
.mb20 {margin-bottom: 20px !important;}
.mb30{margin-bottom: 30px !important;}

.pl0{padding-left: 0 !important;}
.pr0{padding-right: 0 !important;}

/*@font-face {
  font-family: 'Segoeui';
  src: url(/agentdashboard/fonts/segoeui.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'Segoeui';
  src: url(/agentdashboard/fonts/segoeuib.ttf);
  font-weight: bold;
}*/

body {
  color: #595C63;
  font-size: 13px;
  font-family: 'Arial', sans-serif;
  padding-bottom: 50px;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
  background: #E15B23;
  border: 1px solid #dc561e;
}

div.container-fluid.bg {
  background: url(/img/mainBg.png) repeat-x;
  min-height: 500px;
}

.navbar {
  min-height: 75px;
  margin-bottom: 0;
}

.navbar.dashboard{
  height: 90px;
}

.navbar.dashboard .navbar-brand{
  line-height: 10px;
}

.navbar-default {
  background: #203047;
  border-bottom: 1px solid #fff;
}

.navbar-right .btn.btn-default {
  margin-bottom: 0;
  margin-top: 21px;
}

.navbar-header.home {
  float: none;
  height: 75px;
  position: relative;
}

.navbar-default .navbar-nav>li>a{
  color: #eee;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: #eee;
  background: none;
}

.dropdown-menu li a{
  /*line-height: 32px;*/
  padding: 12px 16px;
}

.dropdown-menu li.active, .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
  background: #203047;
  color:#fff;
}

.dropdown-menu li:nth-child(even) {
  background-color: #ececec;
}

.dropdown-menu li:hover {
  background-color: #e4e4e4;
}

/*.dropdown-menu{padding: 0;z-index: 999999;position: relative;}*/
.filters{
  margin-bottom: 20px;
  float: right;
  padding: 0;
}

.filters .btn-group{
  float: right;
  margin-left: 5px;
}

.filters .btn.btn-primary{
  margin-bottom: 0;
  background: none;
}

.navbar-right {
    position: absolute;
    top: 0;
    right: 0;
}

.navbar-brand {
  float: none;
}

.navbar-brand img {
  max-width: 210px;
  position: relative;
  margin-top: 0;
}

.navbar-header.home .navbar-brand img {
  margin: 0 auto;
  display: block;
}

.card {
  background: #fff;
  -moz-box-shadow: 0 2px 3px #ccd6dd;
  -webkit-box-shadow: 0 2px 3px #ccd6dd;
  box-shadow: 0 2px 3px #ccd6dd;
  border: 1px solid #d1d1d1;
  padding: 20px 10px 10px;
  overflow: auto;
  margin-bottom: 30px;
}
.card .title {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #fff;
}
.card h4.data {
  text-align: center;
  font-size: 45px;
  color: #fff;
}

.card-3{border: none;}

.card-3.blue{
  background: #203047;
  color: #fff;
}

.card-3.green{
  background: #33A09B;
  color: #fff;
}

.card-3.orange{
  background: #E15B23;
  color: #fff;
}

.card-3.yellow{
  background: #e3ba32;
  color: #fff;
}

.card-3 {
  min-height: 120px;
  position: relative;
  overflow: visible;
}
.card-3 .inbound {
  float: left;
  text-align: left;
  color: #888;
}
.card-3 .outbound {
  float: right;
  text-align: right;
  color: #888;
}
.card-3 .details.tac {
  text-align: center;
  color: #888;
}
.card-3 .divider {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: 1px solid #e5e5e5;
}

.card.card_table{
  max-height: 242px;
  min-height: 242px;
  overflow-x: hidden;
}

.card.card_table table, table.table-striped{
  font-size: 12px;
}

.card_table_prt{
  overflow: hidden;
}

.card_table{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box;
}

tr td.tar{text-align: right;padding-right: 8px !important;}
table tr th{text-align: center;}

.bdrcard{
  border: 1px solid #d1d1d1;
  /*margin: 0;*/
  margin-bottom: 30px;
  padding: 0;
  overflow: auto;
}

.campaign_totals_table thead tr th{
  background: #203047;
  color: #fff;
  text-align: left;
  padding-left: 10px !important;
}

.campaign_totals_table tbody tr td{padding-left: 10px !important;}

.bdrcard.bl0{border-left: none !important;}

.bdrless_card{
  margin: 0 !important;
  padding: 0;
}

.bdrcard .card{
  box-shadow: none;
  border: none;
  padding: 0;
  overflow: hidden;
}

.card-6{padding-top: 10px;}

.card-6 h1.title {
  text-align: left;
  float: left;
}
.card-6 .btn-group {
  float: right;
}
.card-6 .inbound, .card-6 .outbound {
  clear: both;
}
.card-6 .inbound h4, .card-6 .outbound h4 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #E15B23;
  text-transform: uppercase;
}
.card-6 .outbound {
  display: none;
}

.icons li {
  background: none repeat scroll 0 0 #fff;
  height: 5px;
  width: 5px;
  line-height: 0;
  list-style: none outside none;
  margin-right: 3px;
  margin-top: 3px;
  vertical-align: top;
  border-radius: 50%;
  pointer-events: none;
}

.dropbtn {
  position: absolute;
  top: -12px;
  right: 5px;
  cursor: pointer;
}

/*.dropdown {
  position: absolute;
  display: inline-block;
  right: 0;
}*/

.dropdown-content {
  display: none;
  position: relative;
  z-index: 999999 !important;
  margin-top: 10px;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:nth-child(even) {
  background-color: #ececec;
}

.dropdown a:hover {
  background-color: #e4e4e4;
}

.show {
  display: block;
}

.form-holder {
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #eee;
  margin-top: 17%;
}

.form-holder h4 {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
  padding: 12px 0;
  margin-bottom: 20px;
  background: #203047;
  color: #fff;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.form-holder form {
  padding: 20px;
}

.form-holder form input {
  background: #fff;
}

.form-holder .input-group-addon:last-child {
  background: #fff;
}

.form-holder .btn {
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 30px;
  display: block;
  min-width: 170px;
}

.form-holder div.alert {
  text-align: center;
  font-weight: 600;
}

input.form-control {
  height: 40px;
}

.btn.btn-primary {
  position: relative;
  margin-bottom: 30px;
  background-color: #e49831;
  border: 1px solid #f2ad4d;
  color: #fff;
  -moz-transition: all, ease, 0.2s;
  -o-transition: all, ease, 0.2s;
  -webkit-transition: all, ease, 0.2s;
  transition: all, ease, 0.2s;
  font-weight: 600;
}

.btn.btn-primary:hover {
  background-color: #d98d29;
}

a.dropdown-toggle{
  text-align: right;
}

.dd_trigger .active, .filter_campaign .active{
  background: #203047 !important;
  color: #fff !important;
}

/*.filter_time_camp_dets p{
  color: #33A09B;
  font-weight: 600;
  padding-top: 10px;
  text-align: center;
  clear: both;
  font-size: 12px;
}*/

.filter_time_camp_dets p{
  text-align: left;
  font-size: 18px;
  color: #444;
  margin-top: 10px;
}

.filter_time_camp_dets p b{
  color: #33A09B;
}

ul.dropdown-menu.filter_campaign {
    max-height: 270px;
    overflow-y: scroll;
}

.dropdown-menu{
  right:0;
  left:auto;
}

#startDate, #endDate {
    width: 49%;  
    float: left;
}

#startDate{margin-right: 2%;}

#ui-datepicker-div{
  z-index: 9999 !important;
}

.modal-header{
  background: #203047;
  color:#fff;
  margin-bottom: 20px;
}

.modal-footer{
  clear: both;
  border:none;
  margin-top: 25px;
}

.close{
  color: #fff;
  opacity: .7;
}

.close:hover{
  color: #fff;
  opacity: 1;
}


.dropdown-menu.filter_campaign .active >a{
  background: #203047 !important;
}

.navcontainer{
  position: relative !important;
}

.logout.btn{
  margin-top: 28px;
}

/*.filters{
  float: right;
  margin-bottom: 30px;
  position: relative;
}*/

.filter_select{
  margin-right: 15px;
}

tr td span{
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius:50px;
  margin-right: 10px;
}

tr td span.Paused{background: #ff434d; }
tr td span.Waiting{background: #33a09b;}
tr td span.Login, tr td span.Disposition{background: #010157;}
tr td span.InboundCall, tr td span.Call{background: #e49a31;}

/*.filter_btn_groups{
  position: absolute;
  top: 0;
  right: 10px;
  left: -160px;
}*/

.navbar-header.home{
  bottom: 20px;
}

.preloader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background-image: url('/img/loader2.gif');
   background-repeat: no-repeat; 
   background-color: rgba(255,255,255,0.88);
   background-position: center;
}

p.descrip{
  font-size: 12px;
  text-align: center;
  color: #666;
  position:absolute;
  top: 26%;
  left: 50%;
  width: 70%;
  transform: translate(-50%, -50%);
}

p.ajax_error{
  text-transform: uppercase;
}

.card.card_table_prt{
  padding-right: 0;
}

.container-fluid{
  padding: 0;
}

.fpass{
  text-align: center;
  display: block;
}

h2.card_title{
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  color: #203047;
  margin-bottom: 30px;
}

p.no_data{
  text-align: center;
}

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th{
  padding: 10px 5px;
}

.agent_status h1{
  color: #595C63 !important;
}

tr.bdrtop_none th{border-top: none !important;}

.total_calls_card{
  background: #33A09B;
  color: #fff;
  width: 100%;
  height: 280px;
  border: none;
}

table tr:first-of-type{
  border-top: none;
}

.total_calls_card h1{
  text-align: center;
  color: #fff;
}

.total_calls_card h2{
  text-align: center;
  color: #fff;
  font-weight: 800;
  padding: 20px;
  font-size: 65px;
  margin-top: 45px;

}

.card_dropbtn {
    /*position: fixed;*/
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.card_dropbtn.btn-left{

}

.card_dropdown.mv_left{
  left:20px;
  top:20px;
}

.card_dropdown {
    position: absolute;
    display: inline-block;
    right: 0;
    top:10px;
}

.total_conversions .card_dropdown-content {
    display: none;
    position: relative;
    margin-top: 10px;
    background-color: #f9f9f9;
    border: 1px solid #d1d1d1;
    max-width: 210px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:20px;
}
.card_dropdown-content h3{padding: 10px; font-size: 16px;font-weight: 700;color: #fff;background: #203047;}

.card_dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.card_dropdown a:nth-child(even) {background-color: #efefef}
.card_dropdown a:hover {background-color: #eaeaea}

span.selected_campaign {
    color: #33A09B;
    font-weight: 600;
}

.campaign_stats_table thead tr th{background: #203047;color:#fff;text-align: left;}

ul.dropdown-menu.filter_campaign {
    max-height: 270px;
    min-width: 240px;
    max-width: 240px;
    overflow-y: scroll;

    .checkbox {
        padding: 5px 0 5px 10px;
        border-bottom: 1px solid #ddd;
    }
}

.filters button {
    font-weight: 600;
}

ul.dropdown-menu.filter_campaign::-webkit-scrollbar {
    width: 0 !important
}

ul.dropdown-menu.filter_campaign {
    overflow: -moz-scrollbars-none;
}

ul.dropdown-menu.filter_campaign {
    -ms-overflow-style: none;
}

.dropdown-menu {
    right: 0;
    left: auto;
    padding: 0;
}

.dropdown-menu li.active, .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover, .dropdown-menu.filter_campaign .active >a {
    @include blue_grad(#263854, #1c273d);
    color: #fff;
}

.dropdown-menu li:nth-child(even) {
    background-color: #ececec;
}

.dropdown-menu li:hover {
    background-color: #e4e4e4;
}


.filters {
  margin-bottom: 10px;
  float: right;
  padding: 0;
}

.filters ul.dropdown-menu {
  right: -65px;
}

.filters .btn-group {
  float: right;
}

.filters .btn.btn-primary {
  margin-bottom: 0;
  background: none;
}

.filters .btn.btn-primary.select_database,
.filters .btn.btn-primary.select_campaign {
  position: relative;
  margin-bottom: 10px;
  background-color: #e49831;
  border: 1px solid #f2ad4d;
  border-radius: 0;
  color: #fff;
  font-weight: 600;
}

ul.dropdown-menu.filter_campaign .checkbox {
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid #ddd;
}

.campaign_search.form-control {
    padding: 0 10px;
    border: none;
}

.max_height350{max-height: 350px;}

.overflow_none{overflow: hidden;}
.campaign_totals{
  position: relative;
  overflow-y: scroll; 
}

.stats_card{padding: 0px;}
.stats_card .title{background: #203047; color:#fff;padding: 10px;}
.stats{padding: 0 10px 10px;}
.card.stats .title{color: #595C63;}

.stats_item{
    font-weight: 600;
    float: left;
    margin-right: 20px;
}

.stats_item span{
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50px;
    float: left;
    margin-right: 3px;
    position: relative;
    top: 2px;
}

.stats_chart {
    padding-left: 3px;
    padding-right: 8px;
    margin-bottom: 15px;
}

.stats_chart .outer{
    background: #ddd;
    width: 87%;
    height: 20px;
    float: left;
}

.stats_item span.repstats, .stats_chart .outer .rep{
    background: #339FFF;
}

.stats_item span.teamstats, .stats_chart .outer .team{
    background: #33A09B;
}

.stats_chart h4{font-size: 13px;font-weight: 600;margin-bottom: 5px;}

.stats_chart .rep, .stats_chart .team{height: 20px;margin-bottom: 3px;}

.handled_stats .rep .rep_handled, .handled_stats .team .rep_handled, .interactions_stats .rep .rep_sales, .interactions_stats .team .total_sales, .avg_handle_time_stats .rep .rep_avg_handle_time, .avg_handle_time_stats .team .rep_talk_time{width: 0;}


.stats_chart .rep, .stats_chart .team, .stats_chart .total{float: left;}
.stats_chart .total{
    width: 12%;
    padding-left: 1%;
}
  
@media handheld, only screen and (max-width: 991px) {
  .card h4.data{
    font-size: 32px;
  }

  .container{
    width: 98%;
  }
}

@media (min-width: 768px){
.navbar-right {
    float: right!important;
     margin-right: 10px; 
}